*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.color-orange{
    color: #FD6E0A;
}
/* Main styles  */

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png) , url(../images/header_bg.png) , #FFF8F3 ;
    background-position: top 50px left 50px , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.logo h2{
    font-size: 45px;
    font-weight: 800;
}



.header-menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;

}

.header-menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
    cursor: pointer;
}

.header-menu button{

    padding: 18px 35px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#banner{
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;


}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    
}

#banner-content-btn1{
    width: 200px;
    padding: 19px 17px 18px 17px;
    margin-right: 30px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#banner-content-btn2{
    width: 160px;
    padding: 19px 23px 18px 24px;
    margin-right: 30px;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}

#banner .banner-image img{
    max-width: 585px;
    /* vertical-align: middle; it is used on images . When we use image browser take some margin bottom auto .So by using these browser dont take margin auto from the bottom . */

}

#about{
    padding-top: 131px;
}

#about .about-section{
    width: 1140px;
    margin: 0 auto; 
    /* First 0 dewa hoise karon upore padding dewa hoise ar porer ta left and right theke jehetu equally divide hobe tai auto diye disi kono value na diye  */
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}

#about .section-heading{
    max-width: 827px;
    text-align: center;
}

#about .section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

#about .section-heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

#about .about-section .about-info{
    display: flex;
    justify-content: space-around;
}

#about .about-section .infocard p{
    font-size: 20px;
    color: #757575;

}

#about .about-section .infocard h4{
    font-size: 20px;
    font-weight: bold;
}

#skills{
    padding-top: 130px;
}

.skills-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
}

.skills-heading{
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 827px;
    text-align: center;
}

.skills-heading h3{
    font-size: 35px;
}

.skills-heading p{
    padding-top: 30px;
    font-size: 18px;
    color: #757575;
}

.skill-box{
    display: flex;
    gap: 24px;

}

.skill-box .skill-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #0000003b;
    max-width: 267px;

}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}